input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 80px;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.navbars {
    text-align: center;
    width: 100%;
    background-color: #d2d7d5;
    border-color: #ce07cb;
    font-size: 20px;
    line-height: 0.5;
}

.navbars a:hover {
    color: #ce07cb;
}

.margin-right-space {
    margin-right: 5px;
}

.heading-style {
    display:inline;
    font-size: 40px;
}

.Website-sidebar {
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
    padding-top: 15px;
    margin-bottom: 50px;
}

.video-container {
    position: relative;
    padding-bottom: 58.25%;
    padding-top: 0px; height: 0;
    margin-bottom: -23%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
}